# Mistral [Le Plateforme](https://console.mistral.ai/home) API key, if using this model provider
export CUNHADO_MISTRAL_API_KEY=FIXME
# [Open Router](https://openrouter.ai/docs/quickstart) API key, if using this model provider
export CUNHADO_OPEN_ROUTER_API_KEY=FIXME